# المجلدات والملفات الثقيلة
/node_modules
/dist

# ملفات البيئة والأسرار (لحماية Firebase لاحقاً)
.env
.env*.local

# ملفات النظام والمؤقتات
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ملفات البناء السابقة (Next.js) للتأكد من عدم رفعها
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo
.vercel
